body {
  background-color: black;
}

h1 {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 38px;
  color: #3527B2;
}

h2, h3 {
  font-family: 'VT323', monospace;
  color: #A57400;
}

p, ul {
font-family: 'VT323', monospace;
color: #80FF80;
list-style: none;
display: block;
}

a {
  font-size: 20px;
  color: #3527B2;
}
a:hover {
  color: #241A28;
}

.container {
  width: 600px;
  margin: auto;
}

.round-pic {
  object-fit: contain;
  width: 200px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px 1px #000000;
}

.poster-fit-small {
  object-fit: contain;
  width: 150px;
}
.div {
  display: block;
}

.socialmediabutton {
  font-size: 35px;
  color: #3527B2;
  padding: 15px;
}

.card {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px 2px #000000;
}

.text-center {
  text-align: center;
}

.list-inline > li {
  display: inline-block;
  padding-left: 0px 20px;
}

#sidebar {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 80px;
  box-shadow: 1px 1px 1px 1px #000000;
  }

.sidebar-btn {
  list-style: none;
  display: list-item;
  font-size: 30px;
  color: #3527B2;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 0px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
    margin: auto;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
    margin: auto;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
    margin: auto;
  }
}
